* {
  box-sizing: border-box;
}

.modal-ui {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 420px;
  margin: auto;
  margin-top: 15vh;
}

.steps li {
  margin-bottom: 10px;
  color: #333;
}
